body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgba(255,163,211,1);
  background: -moz-linear-gradient(top, rgba(255,163,211,1) 0%, rgba(255,87,174,1) 70%, rgba(255,87,174,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,163,211,1)), color-stop(70%, rgba(255,87,174,1)), color-stop(100%, rgba(255,87,174,1)));
  background: -webkit-linear-gradient(top, rgba(255,163,211,1) 0%, rgba(255,87,174,1) 70%, rgba(255,87,174,1) 100%);
  background: -o-linear-gradient(top, rgba(255,163,211,1) 0%, rgba(255,87,174,1) 70%, rgba(255,87,174,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,163,211,1) 0%, rgba(255,87,174,1) 70%, rgba(255,87,174,1) 100%);
  background: linear-gradient(to bottom, rgba(255,163,211,1) 0%, rgba(255,87,174,1) 70%, rgba(255,87,174,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa3d3', endColorstr='#ff57ae', GradientType=0 );
}
